<main class="account-settings-main">
  <%= render 'account_settings/settings_navigation' %>
  <div class="profile-show">
    <h3>プロフィール</h3>
    <%= link_to '編集', edit_profile_account_settings_path, class: 'edit-link' %>
    <p><strong>アイコン画像:</strong> 
      <% if @user.profile_image.present? %>
        <%= image_tag @user.profile_image.url, class: 'profile-image' %>
      <% else %>
        <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png', class: 'profile-image' %>
      <% end %>
    </p>
    <p><strong>名前:</strong> <%= @user.name %></p>
    <p><strong>自己紹介:</strong> <%= @user.bio %></p>
  </div>
</main>
