<%= render 'shared/search_form' %>
<div class="hotels-index">
  <h2><%= pluralize(@hotels.count, '件') %>が見つかりました。</h2>
  <div class="card-deck">
    <% @hotels.each do |hotel| %>
      <div class="card">
        <% if hotel.image.present? %>
          <%= image_tag hotel.image.url, class: "card-img-top" %>
        <% else %>
          <%= image_tag 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png', class: "card-img-top" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= hotel.name %></h5>
          <p class="card-text"><%= hotel.description %></p>
          <p class="card-text"><strong>¥<%= number_to_currency(hotel.price, unit: "¥", precision: 0) %>~</strong></p>
          <%= link_to '詳細はこちら', hotel_path(hotel), class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
