<h1>登録済み一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>紹介文</th>
      <th>料金</th>
      <th>作成日</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @hotels.each do |hotel| %>
      <tr>
        <td><%= image_tag hotel.image.present? ? hotel.image.url : 'https://rails-02-sample.herokuapp.com/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png', size: '100x100' %></td>
        <td><%= link_to hotel.name, hotel_path(hotel) %></td>
        <td><%= hotel.description %></td>
        <td>¥<%= number_to_currency(hotel.price, unit: "¥", precision: 0) %></td>
        <td><%= hotel.created_at %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              ⋮
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to '編集', edit_hotel_path(hotel), class: 'dropdown-item' %>
              <a href="#" class="dropdown-item" data-toggle="modal" data-target="#deleteModal" data-hotel-name="<%= hotel.name %>" data-delete-url="<%= hotel_path(hotel) %>" data-is-reservation="false">削除</a>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
