<!DOCTYPE html>
<html>
<head>
  <title>Potepan Share</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <header>
    <nav class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo">
          <img src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="Potepan Share">
        </a>
        <ul id="nav-mobile" class="right">
          <% if user_signed_in? %>
            <li>
              <a href="#" class="account-menu-toggle">
              <% if current_user.profile_image.present? %>
                  <img src="<%= current_user.profile_image.url %>" alt="Profile Image" class="profile-icon">
                <% else %>
                  <i class="fas fa-user"></i>
                <% end %>
              <%= current_user.name %>
              </a>
              <ul class="account-menu">
                <li><%= link_to '施設の新規登録', new_hotel_path %></li>
                <li class="separator"></li>
                <li><%= link_to '予約済み一覧', hotel_reservations_path(current_user) %></li>
                <li><%= link_to '登録済み一覧', my_hotels_hotels_path %></li>
                <li><%= link_to 'アカウント設定', show_account_account_settings_path %></li>
                <li class="separator"></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path, class: 'register-button' %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <%= yield %>
  </main>
  <footer>
    <div class="footer-content">
      <a href="/" class="footer-logo">
        <img src="https://rails-02-sample.herokuapp.com/assets/common/logo.png" alt="Potepan Share">
      </a>
      <p>&copy; Potepan Share 2024 All rights reserved</p>
    </div>
  </footer>

  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">削除の確認</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="deleteModalBody"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-danger" id="confirmDeleteButton">削除</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
